.item-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 12px;
  /* gap: 12px 10px; */
}

.card {
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  background-color: #aec6d6;
}

.score-section {
  font-size: 1.1rem;
}

@media only screen and (min-width: 700px) {
  .item-list {
    grid-template-columns: repeat(6,1fr)
  };
}
